@charset "UTF-8";

body{
    background-color: #ae98d8;
    font-family: Arial, Helvetica, sans-serif;
}

#principal {
    text-align: center;
    color: #321568;            
}

h1{
    color: #611e8b ;
}

h2{
    color: #8465BE;
}

.basico {
    color: #8DFC86;
    
}

.inter {
    color: #FCF01B;
   
}

.avançado {
    color: #FC0A00 ;
    
}